@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

$grayBg: #f1f5f8;

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 5px;
    transition: all 0.3s linear;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 20px;
    &:hover {
      background: #a5d5f8;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
html {
  @include custom-scroll-bar();
}
* {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  box-sizing: border-box;
  outline: none;
  font-family: "Lato", sans-serif;
}

body {
  background-color: $grayBg;
}
.container {
  width: 90%;
  min-height: 30vh;
  background-color: #fff;
  margin: 7rem auto;
  border-radius: 0.4rem;
  box-shadow: #ccc 0 3px 12px;
  text-align: center;
  padding: 1.5rem;
  .alert {
    width: 100%;
    padding: 0.3rem 0;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    &.danger {
      color: #721c24;
      background: #f8d7da;
    }
    &.success {
      color: #155724;
      background: #d4edda;
    }
  }
  form {
    label {
      font-weight: bold;
      font-size: 1.4rem;
    }
    div {
      margin-top: 1rem;
      width: 100%;
      input {
        width: 78%;
        border: none;
        background-color: $grayBg;
        color: rgb(68, 68, 68);
        font-size: 1rem;
        padding: 0.3rem 1rem;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        border: 1px solid transparent;
        &:focus {
          border: 1px solid #a5d5f8;
        }
      }
      button {
        padding: 0.3rem;
        width: 22%;
        border: none;
        font-size: 1rem;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        background-color: #a5d5f8;
        border: 1px solid #a5d5f8;
      }
    }
  }
  .items-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    .item-center {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      transition: all 0.3s linear;
      margin-bottom: 0.5rem;
      &:hover {
        background-color: $grayBg;
      }
      .edit {
        background: transparent;
        border: none;
        font-size: 0.9rem;
        color: #6be675;
        margin-right: 0.3rem;
        cursor: pointer;
      }
      .remove {
        @extend .edit;
        color: #bb3636;
      }
    }
    .clear {
      padding: 0.3rem 0;
      border: none;
      background-color: transparent;
      color: #bb3636;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
}
