*{
  padding: 0;
  margin: 0;
  outline:none;
  box-sizing: border-box;
  font-family: Arial, Helvetica,sans-serif;
  letter-spacing: 1px;
}
body{
  background-color:#F1F5F8;
  max-height: 100vh;
}
.container{
  width: 100%;
  height: 100%;
  text-align: center;
}
.title{
  margin-top: 3rem;

}
.underscore{
  background-color: #49A6E9;
  width: 7rem;
  height: .3rem;
  margin: 1rem auto;
}
.review-container{
  width:80%;
  min-height: 50vh;
  margin: 3rem auto 0 auto;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .4rem;
  box-shadow: #bbb 0  3px 16px;
}
.img-container{
  width: 9rem;
  height: 9rem;
  margin: 1rem auto;
  border-radius: 50%;
  position: relative;
}
.img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.img-container::before{
  content: "";
  width:100%;
  height: 100%;
  border-radius: 50%;
  background-color: #49A6E9;
  position: absolute;
  top: -.1rem;
  right: -.4rem;
  z-index: -1;
}
.icon-img{
  position: absolute;
  top: .5rem;
  left: 0;
  background-color: #49A6E9;
  color: #fff;
  display:grid;
  place-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
}
.name{
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.job{
  text-transform: capitalize;
  color: #49A6E9;
  margin:.5rem 0;
}
.desc{
  color: rgb(83, 83, 83);
  font-size: .9rem;
  min-height:6rem ;
}
.btn-container{
  margin:1rem auto;
  width: 4rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container button{
  background:transparent;
  border:none;
  color: #49A6E9;
  font-size: 1.2rem;  
  cursor: pointer;
}
.random{
  border: none;
  background-color: #ebf7ff;
  color: #49A6E9;
  padding: .5rem 1rem;
  border-radius: .3rem;
  cursor: pointer;
}